<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>

    <header class="header">
        <img src="{% static 'images/logo.png'%}" id="logo" alt="">

        <nav class="navbarmed">
            <a href="#">MEDISYNC</a>
        </nav>
        
        <div class="emergency" onclick="redirectToEmergency()">
            <a href="#">EMERGENCY</a>
        </div>
        <script>
            function redirectToEmergency() {
                // Replace with the actual URL you want to redirect to
                var emergencyUrl = 'https://indianhelpline.com/bangalore';  // Example URL
                window.location.href = emergencyUrl;
            }
        </script>

        <div class="login">
            <!-- <div id="menubar" class="fas fa-bars"></div> -->
            <a href="{% url 'login_page' %}">LOG IN</a>
        </div>

    </header>

    <div class="background-image">
        <div class="background-content">
            <h1>WELCOME!<br>MEDISYNC</h1>
            <p>comprehensive healthcare platform, designed to sync information <br> across hospitals, users, and
                doctors, ensuring accessible<br> and proper healthcare for all,providing accessible and efficient <br>
                healthcare for everyone. </p>
            <!-- <a href="#">Read more</a> -->
        </div>
    </div>

    <div class="about">
        <div class="main-about">
            <div class="inner-about">
                <div class="about-content">
                    <h1>about us</h1>
                    <h3>
                        <p>Sidharth K Iyer</p>
                        <p>Uday M</p>
                        <p>Shashank MP</p>
                        <p>Suraj G</p>
                    </h3>

                    <a href="https://github.com/SkiAlt/hospital_management_hackathon">Project Source</a>
                </div>

            </div>
            <div class="inner-about">
                <div class="inner-about-image">
                    <img src="{% static 'images/hms.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="our-services">
        <div class="service-content">
            <div class="left-service-content">
                <h1>Our special features</h1>
            </div>
        </div>

        <div class="main-services">
            <div class="inner-services-content">
                <div class="service-icon">
                    <i class="fas fa-notes-medical"></i>
                </div>
                <h2>Record Access</h2>
                <p>efficient access to past records and serices of the latest health care system </p>

            </div>

            <div class="inner-services-content">
                <div class="service-icon">
                    <i class="fas fa-hospital-user"></i>
                </div>
                <h2>Information Sharing</h2>
                <p>sharing of information and personal accross opitals and branchs to ensure delivery of best services
                </p>

            </div>

            <div class="inner-services-content">
                <div class="service-icon">
                    <i class="fas fa-user-md"></i>
                </div>
                <h2>health care</h2>
                <p>scheduling for doctors to ensure maximum utlization of their life saving skills </p>

            </div>
        </div>
    </div>

    <div class="our-doctors">
        <h1>Our special partners</h1>

        <div class="main-doctor">
            <div class="inner-doctor">
                <img src="{% static 'images/Nethradhama Super Speciality Eye Hospital.avif'%}" alt="">
            </div>
            <div class="inner-doctor">
                <img src="{% static 'images/Sagar Hospitals.JPG'%}" alt="">
            </div>

            <div class="inner-doctor">
                <img src="{% static 'images/Nano Hospitals.png'%}" alt="">
            </div>
            <div class="inner-doctor">
                <img src="{% static 'images/Vasavi Hospital.jpeg'%}" alt="">
            </div>
        </div>
    </div>



    <div class="footer">
        <div class="main-footer">
            <div class="inner-footer">
                <img src="{% static 'images/logo.png'%}" alt="">
            </div>
            <div class="inner-footer">
                <h2>made with ❤️ from Bro Coders :)</h2>
            </div>
        </div>
    </div>
    <script src="{% static 'script.js'%}"></script>
</body>

</html>